<%= if @current_user do %>
  <%= if length(@memberships) == 0 do %>
    <.header>
      You are not in any scenes 
      <:subtitle> 
        <.lnk ref="/scenes/manage" class="underline">join some</.lnk> to start posting and viewing content
      </:subtitle>
    </.header>
  <% else %>
  <% end %>
<% else %>
  <.header>
    You don't seem to be signed in 
    <:subtitle>
      click register, or login at the top right to get started.
    </:subtitle>
  </.header>
<% end %>
